<div id="footer">
  <div class="container">
    <p class="text-muted">
      <div class="footer-text pull-right">
        &copy; 2014 <a href="http://ehrns.com" target="blank">Alex Ehrnschwender</a>.
      </div>
    </p>
  </div>
</div>
